   	<nav id="top-nav-bar" class="columns ten" style="float:right">
  <ul id="nav-bar" class="inline" data-hook>
 <li id="link-to-cart" data-hook><%= link_to_cart %></li>
 <li id="search-bar" data-hook>
 </li>
 </ul>

</nav>
